{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-3">
  <div class="card shadow-lg p-5">
    <div class="Card-header">
<h2><center>Settings</center></h2>
    </div>
    <div class="card-body"> 
      <form action="{% url 'set_user_preferences' %}" method="post">
        {% csrf_token %}
        <label for="start_of_week">Start of the Week:</label>
        <select name="start_of_week" id="start_of_week">
            <option {% if start_of_week == 0 %}selected{% endif %} value="0">Monday</option>
            <option {% if start_of_week == 1 %}selected{% endif %} value="1">Tuesday</option>
            <option {% if start_of_week == 2 %}selected{% endif %} value="2">Wednesday</option>
            <option {% if start_of_week == 3 %}selected{% endif %} value="3">Thursday</option>
            <option {% if start_of_week == 4 %}selected{% endif %} value="4">Friday</option>
            <option {% if start_of_week == 5 %}selected{% endif %} value="5">Saturday</option>
            <option {% if start_of_week == 6 %}selected{% endif %} value="6">Sunday</option>
        </select>
        <br/>
        <label for="pay_period_duration">Pay Period Duration:</label>
        <select name="pay_period_duration" id="pay_period_duration">
            <option {% if pay_period_duration == 7 %}selected{% endif %} value="7">Weekly</option>
            <option {% if pay_period_duration == 14 %}selected{% endif %} value="14">Bi-Weekly</option>
            <option {% if pay_period_duration == 30 %}selected{% endif %} value="30">Monthly</option>
        </select>
        <br />
        <div class="d-flex justify-content-end mt-2">
        <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
    
</div>
</div>
</div>

{% endblock content %}