{% extends 'layouts/base.html' %}
{% block content %}
<div class="container text-center">
    <h2 style="text-shadow:1px 1px 0px #000000;">Enter PIN</h2>
    <form id="pinForm" method="post" action="{% url 'enter_pin' %}">
        {% csrf_token %}
        <div id="pin-display">
            <input type="password" name="pin" id="pinInput" maxlength="4" autocomplete="off" style="text-align: center; font-size: 60px; width: 80%;" required readonly>
        </div>
        
        <!-- Flexbox container for buttons -->
        <div class="container mt-4">
            <div class="row">
                {% for i in "123456789" %}
                    <div class="col-4 d-flex justify-content-around align-items-around">
                        <button type="button" class="btn btn-primary p-5 m-2" onclick="addDigit('{{ i }}')">
                            {{ i }}
                        </button>
                    </div>
                {% endfor %}
                <div class="col-4 d-flex justify-content-around align-items-around">
                    <button type="button" class="btn btn-primary p-5 m-2" onclick="backUp()">&lt;</button>
                </div>
                <div class="col-4 d-flex justify-content-around align-items-around">
                    <button type="button" class="btn btn-primary p-5 m-2" onclick="addDigit(0)">0</button>
                </div>
                <div class="col-4 d-flex justify-content-around align-items-around">
                    <button type="button" class="btn btn-primary p-5 m-2" onclick="clearPin()">C</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function addDigit(digit) {
        const pinInput = document.getElementById("pinInput");
        if (pinInput.value.length < 4) {
            pinInput.value += digit;
        }
        if (pinInput.value.length === 4) {
            document.getElementById("pinForm").submit();
        }
    }
    function clearPin() {
        document.getElementById("pinInput").value = "";
    }
    function backUp() {
        const pinInput = document.getElementById("pinInput");
        pinInput.value = pinInput.value.slice(0, -1);
    }
</script>
{% endblock %}
